WebContent/wsdl/Main.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://measure.ote.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://measure.ote.com" xmlns:intf="http://measure.ote.com" xmlns:tns1="http://types.measure.ote.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://measure.ote.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://types.measure.ote.com"/>
   <element name="start">
    <complexType>
     <sequence>
      <element name="entriesMap" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="startResponse">
    <complexType>
     <sequence>
      <element name="startReturn" type="tns1:GenericResponse"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://types.measure.ote.com"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://types.measure.ote.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="GenericResponse">
    <sequence>
     <element name="error" nillable="true" type="xsd:string"/>
     <element name="errorMessage" nillable="true" type="xsd:string"/>
     <element name="flowsList" nillable="true" type="apachesoap:Map"/>
     <element name="sessionID" nillable="true" type="xsd:string"/>
     <element name="token" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="startRequest">

      <wsdl:part element="impl:start" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="startResponse">

      <wsdl:part element="impl:startResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Main">

      <wsdl:operation name="start">

         <wsdl:input message="impl:startRequest" name="startRequest">

       </wsdl:input>

         <wsdl:output message="impl:startResponse" name="startResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MainSoapBinding" type="impl:Main">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="start">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="startRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="startResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MainService">

      <wsdl:port binding="impl:MainSoapBinding" name="Main">

         <wsdlsoap:address location="http://localhost:8080/MeasurementsProxy/services/Main"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
